nbconvert<7.0
jupyter<7.0
nbformat<7.0
Werkzeug<2.2.0
attrs>=19.2.0
dill>=0.2.7.1
pluggy>=0.6.0, <1.0.0
py>=1.5.2
pygments>=2.4.1
pytest>=5.3.2
six>=1.11.0
wcwidth>=0.1.7
astor
prompt_toolkit>=2.0.7
jedi>=0.13.2
cloudpickle>=0.6.1,<2.0.0
PyYAML>=3.13
psutil
pymongo
iso8601
